.tile {
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
    background-color: lightgray;
    text-align: center;
    position: absolute;
}

body {
    overflow: hidden;
    margin: 0px;
    background-color: gray;
}